# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/

# IDEs
.idea/
.vscode/

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# .env files
.env

# Static files
/staticfiles/
